<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <servlet-class>com.webapplication1.LoginForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomePage</servlet-name>
        <servlet-class>com.webapplication1.WelcomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseAccess</servlet-name>
        <servlet-class>com.webapplication1.DatabaseAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.webapplication1.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserContribution</servlet-name>
        <servlet-class>com.webapplication1.UserContribution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalAccount</servlet-name>
        <servlet-class>com.webapplication1.TotalAccount</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>AddContribution</servlet-name>
        <servlet-class>com.webapplication1.AddContribution</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UpdateContribution</servlet-name>
        <servlet-class>com.webapplication1.UpdateContribution</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/LoginForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomePage</servlet-name>
        <url-pattern>/WelcomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseAccess</servlet-name>
        <url-pattern>/DatabaseAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserContribution</servlet-name>
        <url-pattern>/UserContribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalAccount</servlet-name>
        <url-pattern>/TotalAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContribution</servlet-name>
        <url-pattern>/AddContribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContribution</servlet-name>
        <url-pattern>/UpdateContribution</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
